<div class="main-slide-container">
  <div>
    <img class="bg-image" [src]="school_event.mediaPath"/>
  </div>
  <img [src]="school_event.mediaPath"/>

  <div class="info-content">
    <time>{{ school_event.date }}</time>
    <h2>
      Lorem ipsum dolor sit, amet
    </h2>

    <p>
      consectetur adipisicing elit. Quas quaerat libero ipsam eaque velit ratione architecto odio fugit optio voluptatum, molestias incidunt? Ipsam tenetur, nihil aut nisi consequuntur neque laudantium voluptatem libero ea recusandae dolorum animi delectus omnis eaque eum accusamus at accusantium sed numquam quo amet, rem aliquam reiciendis quasi? Aspernatur cumque corporis delectus odit molestias reiciendis hic eum provident ex reprehenderit, optio ea, inventore, molestiae architecto voluptatibus deleniti?
    </p>
  </div>

</div>
