div.main-slide-container{
  width: 100vw;
  height: 70vmin;
  video{
    object-fit: cover;
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(.9);

    &.bg-image {
      object-fit: cover;
      filter: blur(12px);
      transform: scale(1.2);
    }
  }
}
div.info-content{

  width: calc(100% - 3vmax);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  bottom: 0;

  padding: 1.5vmax;
  color: white;
  background: linear-gradient(0deg, black, transparent);

  time{
    font-weight: 100;
    font-size: x-small;
  }
}
